In [3]:
from sklearn.manifold import TSNE
import pandas as pd
from sklearn.cluster import KMeans
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Loading data
file_path = Path("scaled_profile.csv")
df = pd.read_csv(file_path)
df.head()

,sex,athletic,curvy,declined to answer,fit,overweight,skinny,declined to answer.1,halal,kosher,...,leo,libra,pisces,sagittarius,scorpio,taurus,virgo,age_scaled,height_scaled,income_scaled
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.093877,1.678397,-1.007603
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.281389,0.426715,-0.707548
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.598758,-0.073958,-0.515550
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.988087,0.677051,-1.181193
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.353349,-0.574631,0.018412

In [5]:
df1=df.dropna()

In [6]:
# Initialize t-SNE model
tsne = TSNE(3,learning_rate=35)

In [ ]:
# Reduce dimensions
tsne_features = tsne.fit_transform(df1)