In [10]:
import pandas as pd
import numpy as np

pd.set_option("max_columns", 30)

import plotly.express as px
import plotly.graph_objects as go

In [11]:
OKCupid_locations = pd.read_csv("OKcupid_cleaned_up.csv")
OKCupid_locations.head()

C:\Users\sarma\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,last_online,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,religion_cleaned,sign_cleaned
0,0,22,curvy,anything,rarely,never,declined to answer,"asian, white",75.0,29592,transportation,2012-06-28-20-30,"south san francisco, california","does not have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single,agnosticism,gemini
1,1,35,average,anything,rarely,sometimes,college/university,white,70.0,48630,hospitality / travel,2012-06-29-21-41,"oakland, california","does not have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single,agnosticism,cancer
2,2,38,skinny,anything,rarely,declined to answer,masters program,declined to answer,68.0,60812,declined to answer,2012-06-27-09-10,"san francisco, california",declined to answer,straight,has cats,declined to answer,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available,declined,pisces
3,3,23,skinny,vegetarian,rarely,declined to answer,declined to answer,white,71.0,18578,student,2012-06-28-14-22,"berkeley, california",does not want kids,straight,likes cats,declined to answer,m,pisces,no,"english, german (poorly)",single,declined,pisces
4,4,29,athletic,declined to answer,rarely,never,college/university,"asian, black, other",66.0,94691,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",declined to answer,straight,likes dogs and likes cats,declined to answer,m,aquarius,no,english,single,declined,aquarius

In [29]:
OKCupid_locations.rename( columns={'Unnamed: 0': 'Okcupid'}, inplace=True )
OKCupid_locations.head()

,Okcupid,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,last_online,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,religion_cleaned,sign_cleaned
0,0,22,curvy,anything,rarely,never,declined to answer,"asian, white",75.0,29592,transportation,2012-06-28-20-30,"south san francisco, california","does not have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single,agnosticism,gemini
1,1,35,average,anything,rarely,sometimes,college/university,white,70.0,48630,hospitality / travel,2012-06-29-21-41,"oakland, california","does not have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single,agnosticism,cancer
2,2,38,skinny,anything,rarely,declined to answer,masters program,declined to answer,68.0,60812,declined to answer,2012-06-27-09-10,"san francisco, california",declined to answer,straight,has cats,declined to answer,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available,declined,pisces
3,3,23,skinny,vegetarian,rarely,declined to answer,declined to answer,white,71.0,18578,student,2012-06-28-14-22,"berkeley, california",does not want kids,straight,likes cats,declined to answer,m,pisces,no,"english, german (poorly)",single,declined,pisces
4,4,29,athletic,declined to answer,rarely,never,college/university,"asian, black, other",66.0,94691,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",declined to answer,straight,likes dogs and likes cats,declined to answer,m,aquarius,no,english,single,declined,aquarius

# Plotly Express

In [40]:
OKCupid_dist = OKCupid_locations.groupby(by=["location", "body_type", "job"]).count()
OKCupid_dist ['Okcupid'] = "Okcupid"
OKCupid_dist = OKCupid_dist .reset_index()
OKCupid_dist.head()

,location,body_type,job,Okcupid,age,diet,drinks,drugs,education,ethnicity,height,income,last_online,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,religion_cleaned,sign_cleaned
0,"alameda, california",athletic,artistic / musical / writer,Okcupid,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
1,"alameda, california",athletic,banking / financial / real estate,Okcupid,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,"alameda, california",athletic,computer / hardware / software,Okcupid,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
3,"alameda, california",athletic,construction / craftsmanship,Okcupid,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
4,"alameda, california",athletic,declined to answer,Okcupid,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47

In [41]:
fig = px.sunburst(OKCupid_dist,
                  path=["Okcupid", "location", "body_type", "job"],
                  values='Count',
                  title="Okcupid App[location, body_type, job]",
                  width=750, height=750)
fig.show()

ValueError: Value of 'values' is not the name of a column in 'data_frame'. Expected one of ['location', 'body_type', 'job', 'Okcupid', 'age', 'diet', 'drinks', 'drugs', 'education', 'ethnicity', 'height', 'income', 'last_online', 'offspring', 'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks', 'status', 'religion_cleaned', 'sign_cleaned'] but received: Count

In [ ]:
ig = px.sunburst(starbucks_dist,
                  path=["Okcupid",  "location", "body_type", "job""],
                  values='Count',
                  title="Starbucks Store Count Distribution World Wide [Country, State, City]",
                  width=750, height=750)
fig.show()